@import './_colors';

nav.navbar {
  height: 85px;

  &.navbar-logged {
    .navbar-menu {
      background-color: $custom-purple;
    }
  }

  .navbar-brand {
    img {
      height: 40px;
      margin-top: 15px;

    }
  }
}