@import "./_colors";

.notes {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  .bm-menu {
    background: white;
    padding-top: 10px;
  }

  .list-item.is-active {
    background-color: $custon-grey-light;
  }
}